name: Lint

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  golangci-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.0

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v1.59.1
          args: ./...
